.env
dwh.cfg

# virtual environment
.venv/

# .DS_Store files
.DS_Store

# sql db files
2_Cloud_Data_Warehouses/l1_intro_to_data_warehouses/Data/pagila-data.sql
2_Cloud_Data_Warehouses/l1_intro_to_data_warehouses/Data/pagila-schema.sql
2_Cloud_Data_Warehouses/l1_intro_to_data_warehouses/Data/pagila-star.sql